<div class="edit-container">
  <input
    type="text"
    placeholder="Title"
    [(ngModel)]="newItem.title"
    (change)="onChange()"
    #input
  >
  <select
    required
    [(ngModel)]="newItem.priority"
    (change)="onChange()"
  >
    <option value="" disabled selected>Category</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>
  <select
    required
    [(ngModel)]="newItem.status"
    (change)="onChange()"
  >
    <option value="" disabled selected>Status</option>
    <option [ngValue]="false">Not Done</option>
    <option [ngValue]="true">Done</option>
  </select>
  <button (click)="changeItem()">Change</button>
</div>
