<div class="wrapper">
  <div class="edit-container">
    <div class="edit-top">
      <h2>ToDo</h2>
      <button><img src="assets/svg/close.svg"></button>
    </div>
    <div class="add-form">
      <input
        type="text"
        placeholder="Title"
      >
      <select required >
        <option value="" disabled selected>Category</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
      <button>Create</button>
    </div>
  </div>
</div>
