<div class="container">
  <h1>To Do List</h1>
  <div class="item-container">
    <app-todo-list-item
      *ngFor="let item of items"
      [item]="item"
      (onDelete)="deleteItem($event)"
    ></app-todo-list-item>
  </div>
    <app-popup
      *ngIf="isAddOpen"
      (onClose)="toggleAdd()"
    >
      <app-todo-add
        (onClose)="toggleAdd()"
        (onAdd)="updateItems($event)"
        [lastId] = "items.length + 1"
      ></app-todo-add>
    </app-popup>
  <button (click)="toggleAdd()" class="add-btn"><img src="assets/svg/add.svg"></button>
</div>
