<div class="add-container">
  <input
    type="text"
    placeholder="Title"
    [(ngModel)]="title"
    #input
  >
  <select
    required
    [(ngModel)]="priority"
    #select
  >
    <option value="" disabled selected>Category</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>
  <input
    type="datetime-local"
    [(ngModel)]="deadline"
    required
  >
  <button (click)="addItem()">Create</button>
</div>
